<div id="top_nav_wrapper">
  <nav id="top_nav">
    <a href="/"><%= image_tag('logo_small.png', alt: 'HankSnap') %></a>
    <div class="top_nav_action">
      <%= link_to 'Inbox', messages_inbox_path, class: "#{'current_action' if controller_name == 'messages' && action_name == 'inbox'}" %>
      <%= link_to 'Sent', messages_sent_path, class: "#{'current_action' if controller_name == 'messages' && action_name == 'sent'}" %>
      <%= link_to 'Compose', messages_compose_path, class: "#{'current_action' if controller_name == 'messages' && action_name == 'compose'}" %>
      <%= link_to 'Friends', messages_compose_path, class: "#{'current_action' if controller_name == 'friends'}" %>
    </div>
  </nav>
</div>
